################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Interfaces/obj/Debug/net8.0/Domain.AssemblyInfo.cs
