################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Interfaces/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/.vs/ProjetoS.F/v17/.futdcache.v2
/.vs/ProjectEvaluation/projetos.f.projects.v7.bin
/.vs/ProjectEvaluation/projetos.f.metadata.v7.bin
/.vs/ProjectEvaluation/projetos.f.projects.v7.bin
/.vs/ProjectEvaluation/projetos.f.metadata.v7.bin
/.vs/ProjetoS.F/v17/.futdcache.v2
/Entities/obj/Debug/net8.0/Entities.AssemblyInfo.cs
